@import "./grid.css";

.item-grid {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  padding-block: 16px;
  display: flex;
  flex-direction: column;
}

.recipe-image {
  cursor: pointer;
}

#imageContainer {
  position: relative;
}

#image {
  width: 100%;
}

#deleteImageBtn {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

input[type=file] {
  display: none;
}

.text-field {
  padding: 8px;
  border: 1px solid var(--blue);
  color: grey;
  border-radius: 0;
  font-size: 16px;
}

.input-with-hint {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.delete {
  background-color: #ff0000;
}

.delete:hover {
  background-color: #ff7777;
}

.dual-groceries {
  flex-grow: 0;
  display: grid;
  gap: 16px;
  grid-template-areas: 
    'ava rec';
}

@media (max-width: 575px) {
  .dual-groceries {
    grid-template-areas: 
      'rec' 
      'ava';
  }
}

#availableGroceries,
#recipeGroceries,
#availableGroceries > div,
#recipeGroceries > div  {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#recipeGroceries {
  grid-area: rec;
}

#availableGroceries {
  grid-area: ava;
}

.save-delete {
  display: flex;
  gap: 16px;
  padding: 0;
}

.save-delete button {
  flex: 1 1 auto;
}
