.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-grotto);
  color: white;
  padding-inline: 16px;
  /* position: relative; */
}

.navbar a {
  color: white;
}

a.current {
  text-decoration: underline;
}

.nav-links {
  position: relative;
}

.logo {
  padding-block: 16px;
  font-size: 32px;
}

.menu {
  display: flex;
  font-size: 18px;
  gap: 8px;
}

.menu a {
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 16px;
}

.menu a:hover {
  background-color: var(--aquamarine);
  transition: 0.3s ease;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;
}

input[type=checkbox] {
  display: none;
} 

.hamburger {
  display: none;
  user-select: none;
}


@media (max-width: 768px) {
 .menu {
    display: none;
    position: absolute;
    background-color: var(--blue-grotto);
    max-width: 200px;
    right: 0;
    text-align: center;
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  input[type=checkbox]:checked ~ .menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
  }

  .hamburger {
    display: block;
  }
}